<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body>
        <header>
            <%- include("../partials/header"); %>
        </header>
        <main>
            <section>
                <h2> <%= widgetTitle %> </h2>
            </section>
        </main>
        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>